:root {
  //  colors
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --focus-color: #ff6b01;
  --footer-bg-color: #f7f7f7;
  --footer-text-color: #545454;
  --search-error-text: #FF001B;

  // fonts
  --primary-font: 'Roboto', sans-serif;
  // logo-svg
  --logo-color: #818181;
}
